*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}
body{
    background-color: #e4f2fe;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    flex-direction: column;
}
.request_message{
    width: 400px;
    text-transform: capitalize;
    background-color: #fff;
    text-align: center;
    color: green;
    font-size: 13px;
    padding: 14px;
    margin-bottom: 20px;
    border-radius: 20px;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    animation: anime 0.5s ease-out;
}

@keyframes anime{
    from{
        transform: translateY(-70px);
    }
}
form{
    background-color: #fff;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 8px rgba(0,0,0,0.1);
    width: 400px;
    padding: 20px;
}
form h2{
    color: #333;
    font-size: 35px;
     margin-bottom: 5px;
     text-align: center;

}
label{
    font-size: 16px;
    font-weight: 400;
    margin: 5px 0;
    text-transform: capitalize;
    letter-spacing: 1px;
}
input, textarea{
    padding: 8px;
    resize: none;   
    outline: 0;
    border: 1px solid #999;
    border-radius: 4px-s;
}
button{
    background-color: #5890e3;
    color: #fff;
    border: 0;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 18px;
    letter-spacing: 1px;
    text-transform: uppercase;
    padding: 10px;
    transition: 0.5s;
}
button:hover{
    transform: scale(1.02);
}