.navbar {
    background-color: rgba(249, 247, 232, 0.9);
    display: flex;
    flex-direction: row;
    position: sticky;
    top: 0;
    z-index: 1;
    width: 100%;
    height: 120px;
    padding-top: 10px;
}

.navbar img {
    margin-left: 30px;
    width: 75px;
    height: 60px;
    padding: 5px;
    margin-right: 50%;
    transition: transform 1s ease-out;
    background-color: rgb(155, 131, 87);

}

.navbar a {
    width: 400px;
    height: 30px;
    text-decoration: none;
    color: rgb(155, 131, 87);
    padding: 25px;
    text-align: center;
    font-size: 20px;
    transition: transform 0.5s ease-out;
}

a:hover {
    text-decoration: underline;
    transform: scale(1.2);
    cursor: pointer;
}

.mirror-text {
    transform: scaleY(-1);
    display: inline-block;
}

.navbar img:hover {
    transform: rotate(360deg);
}

body {
    background-color: #F9F7E8;
    font-family: system-ui, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    
}

.scrollbar {
    position: sticky;
    top: 100px;
    left: 0;
    height: 5px;
    background-color: rgb(155, 131, 87);
    width: 0;
    transition: width 0.5s;
    z-index: 200;
}

.main {
    margin-top: 0; /* Update to 0px or the desired spacing */
    padding: 50px;
}

footer {
    background-color: rgb(155, 131, 87);
    color: #fff;
    text-align: center;
    padding: 20px 0;
    margin-top: auto;
}

h2 {
    font-size: 5rem !important;
    font-weight: 900;
}

.container {
    --max-width: 75rem;
    height:63rem;
    width: min(100% - 2rem, var(--max-width));
    margin-inline: auto;
}

#accueil .container {
    background-color: transparent;
    color: #F9F7E8;
    position: relative;
    min-height: 100vh;
    margin-top: -0px; /* Adjusted to accommodate the fixed navbar */
    margin-bottom: -210px;
}

#accueil::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('images/paysage.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    z-index: -1;
    opacity: 1;
    transition: opacity 0.5s ease-out;
}

#accueil h2,
#accueil p {
    color: #F9F7E8;
}

#portfolio,
#projects,
#skills {
    background-color: #F9F7E8;
    color: rgb(155, 131, 87);
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 10rem;
    
    
}
::-webkit-scrollbar { 
    display: none;
}
.copyright{
    --max-width: 75rem;
    height:3rem;
    width: min(100% - 2rem, var(--max-width));
    margin-inline: auto;
    
}
.inclined-button {
    transform: rotate(45deg);
}
.beautiful-button {
    background: linear-gradient(to bottom, #086114, #32a443);
    color: white;
    font-family: "Segoe UI", sans-serif;
    font-weight: bold;
    font-size: 18px;
    border: none;
    border-radius: 30px;
    padding: 14px 28px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
    animation: button-shimmer 2s infinite;
    transition: all 0.3s ease-in-out;
}
  
.beautiful-button:hover {
    background: linear-gradient(to bottom, #0d6b26, #49ca51);
    animation: button-particles 1s ease-in-out infinite;
    transform: translateY(-2px);
}

.containerCocard {
    display: flex;
    flex-direction: row;
}

.cocard {
    width: 350px;
    height: 500px;
    perspective: 500px;
    margin-right: 20px; /* Adjust the margin as per your preference */
}

.cocard:hover > .card {
    cursor: pointer;
    transform: rotateY(180deg);
}

.card {
    height: 100%;
    width: 100%;
    position: relative;
    transition: transform 1500ms;
    transform-style: preserve-3d;
}

.front,
.back {
    height: 100%;
    width: 100%;
    border-radius: 2rem;
    box-shadow: 0 0 5px 2px rgba(50, 50, 50, 0.25);
    position: absolute;
    backface-visibility: hidden;
}

.front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.back video {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 2rem;
}
.video-container {
    overflow: hidden;
    border-radius: 2rem;
}

.back {
    background-color: #3a3a3a;
    transform: rotateY(180deg);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5rem;
}