.navbar{
    background-color: #F9F7E8;
    display: flex;
    flex-direction: row;
}
.navbar img{
    width: 75px;
    height: 60px;
    padding: 10px;
    padding-right: 70%;

}
.navbar a{
    padding: 20px;
}
body{
    background-color: #F9F7E8;
}

